@charset "ISO-8859-1";
body{
	background-color: black;
	overflow: hidden;
}
.page_404{ padding:40px 0; background:black; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://media.licdn.com/dms/image/C4D12AQGhJ-YSZyXtyA/article-cover_image-shrink_600_2000/0/1645564838971?e=2147483647&v=beta&t=61B_jUYKrzgqkZibQbuBvTFgQsKvMlePGKzCnVNdP1o);
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: rgb(0, 145, 255);
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
	.contant_box_404{
	text-align: center;
	
	}