@charset "ISO-8859-1";
//
a{
    text-decoration: none;
    color: black;
}
body{
	background-color: white;
	
}
 .product:hover{
    box-shadow: 1px 5px 10px black;
}
.product h3{
    line-height: 25px;
    text-align: center;
    margin-top: 10px;
}
.product{
    padding: 20px;
}
.cg{
    display: flex;
    
    justify-content: space-evenly;
    margin-top: 250px;
}
.product img{
    width: 350px;


/* product card start */
.computer_glasses{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 375px;
    margin-bottom: 50px;
}

.product:hover {
    box-shadow: 1px 5px 10px black;
    border-radius: 10px;
}

.product a img {
    width: 350px;

}

.product-card a p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

/* product card end */


header {
    background-color: rgba(49, 125, 135, 0.8);
    color: #fff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
/* Style links on hover */
nav ul li a:hover {
    text-decoration: underline;
}

/* Additional styling for specific sections */
#user-management {
    background-color: #f9f9f9;
}

#content-management {
    background-color: #f9f9f9;
}

#site-settings {
    background-color: #f9f9f9;

